body {
    background-image: linear-gradient(37deg, pink, plum);
    text-align: center;
    font-size: 150%;
}

form {
    background-color: hsl(331, 32%, 75%);
    margin: 10vh 20vw 10vh 20vw;
    border-radius: 5%;
}
.form-group {
    padding: 2vh 3vw 2vh 3vw;
}

.form-group:hover {
    background-color: hsl(324, 37%, 55%);
}

button {
    width: 50vw;
}

button:hover {
    background-color: ghostwhite;
    cursor: pointer;
}

footer {
    background-color: hsl(322, 30%, 75%);
    margin: 10vh 20vw 10vh 20vw;
    border-radius: 2%;
}